body {
    font-family: $main-font;
    color: $dark-text-color;
    letter-spacing: 0.04em;

    &.modal-open {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    padding: 0;
    color: inherit;
}

ul,
li {
    list-style: none;
    
}

h1,
h2,
h3,
h4,
p,
ul,
button {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}