// Text colors
$accent-color: #F8D24E;
$dark-text-color: #131313;
$light-text-color: #FCFCFC;
$address-color: #D6936D;

// Background colors
$primary-bg-color: #84A178;
// Cards background colors
$green-card-bg: #AEC6A5;
$yellow-card-bg: #EFD478;
$brown-card-bg: #D6936D;
// Modals background    
$tablet-menu-bg: #97AF8D;
$mobile-menu-bg: #85A279;
$modal-bg-color: #FCFCFC;
// Forms colors
$form-border-color: #84A178;
$form-bg-color: rgba(248, 210, 78, 0.1);
// Button colors
$hover-color: #0A8817;

// Fonts
$main-font: 'Montserrat', sans-serif;
$title-font: 'Seymour One', sans-serif;

// Other
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);