<button class="products-button" type="button ">Products</button>
<button class="about-button" type="button ">
  Read more
  <svg width="12" height="12" class="button__icon">
    <use href="./images/icons.svg#icon-button-arrow"></use>
  </svg>
</button>
<button class="modal-button" type="button ">Submit</button>
<button class="location-button" type="button ">
  Our Locations
  <svg width="12" height="12" class="button__icon">
    <use href="./images/icons.svg#icon-button-arrow"></use>
  </svg>
</button>
<button class="franchise-button" type="button ">
  Franchise
  <svg width="12" height="12" class="button__icon">
    <use href="./images/icons.svg#icon-button-arrow"></use>
  </svg>
</button>
<button class="buy-button" type="button ">
  Buy now
  <svg width="12" height="12" class="button__icon">
    <use href="./images/icons.svg#icon-button-arrow"></use>
  </svg>
</button>
<button class="hero-secondary-button" type="button ">How it’s made?</button>
