<footer class="footer">
  <div class="footer__container">
    <div class="footer-info">
      <span class="footer-info__text">homemade ice cream made</span>
      <span class="footer-info__text footer-info__text--bold"
        >with passion</span
      >
    </div>
    <div class="social-info">
      <ul class="social-list">
        <li>
          <a
            href="https://github.com/"
            class="social-list__link"
            rel="noreferrer noopener"
            target="_blank"
          >
            <svg class="social-list__icon" width="20" heigth="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://web.telegram.org"
            class="social-list__link"
            rel="noreferrer noopener"
            target="_blank"
          >
            <svg class="social-list__icon" width="20" heigth="16">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            class="social-list__link"
            rel="noreferrer noopener"
            target="_blank"
          >
            <svg class="social-list__icon" width="10" heigth="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="phone-number">
        <p class="phone-number__tel">
          Feel free to contact
          <a class="phone-number__link" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <p class="copyright">© 2022 - IceCream. <span>All Rights Reserved.</span></p>
</footer>
