<header class="header" id="home">
  <div class="header__container">
    <svg class="header__logo" width="60px" height="65px">
      <use href="./images/icons.svg#icon-Logo"></use>
    </svg>
    <div class="header__toggle">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle__svg" width="32" height="32" fill="#FFFF">
          <use href="./images/icons.svg#icon-eva_menu-fill"></use>
        </svg>
      </button>
    </div>
    <div class="header__nav">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#home">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="header__button" data-modal-buy-now-open>
      Buy now
      <svg class="button__svg" width="6px" height="10px">
        <use href="./images/icons.svg#icon-buttonsvg"></use>
      </svg>
    </button>
  </div>
</header>
