<section class="hero">
  <div class="hero__container">
    <div class="hero__box">
      <div class="hero-title__wrapper">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero-link__list">
          <li>
            <a class="hero-link__products" href="#products">Products</a>
          </li>
          <li>
            <a class="hero-link__about" href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="data__list">
        <li class="data__item">
          <p class="data__item-numbers">16</p>
          <p class="data__item-name">cafes</p>
        </li>
        <li class="data__item">
          <p class="data__item-numbers">23</p>
          <p class="data__item-name">food trucks</p>
        </li>
      </ul>
    </div>
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
      <a class="hero-text__link" href="#products">
        <svg class="hero-text-arrow" width="40" height="16">
          <use href="./images/icons.svg#icon-arrow-long"></use>
        </svg>
      </a>
    </p>
    <picture>
      <source
        srcset="
          /src/images/hero/hero_icecream_desktop@1x.png 1x,
          /src/images/hero/hero_icecream_desktop@2x.png 2x
        "
        media="(min-width:1200px)"
      />

      <source
        srcset="
          /src/images/hero/hero_icecream_tablet@1x.png 1x,
          /src/images/hero/hero_icecream_tablet@2x.png 2x
        "
        media="(min-width:768px)"
      />

      <source
        srcset="
          /src/images/hero/hero_icecream_mobile@1x.png 1x,
          /src/images/hero/hero_icecream_mobile@2x.png 2x
        "
        media="(max-width:767px)"
      />

      <img
        class="ice-cream__img"
        src="/src/images/hero/hero_icecream_desktop@1x.png"
        alt="ice-cream"
      />
    </picture>

    <picture>
      <source
        srcset="
          /src/images/hero/many_icecream_desktop@1x.png 1x,
          /src/images/hero/many_icecream_desktop@2x.png 2x
        "
        media="(min-width:1200px)"
      />

      <source
        srcset="
          /src/images/hero/many_icecream_tablet@1x.png 1x,
          /src/images/hero/many_icecream_tablet@2x.png 2x
        "
        media="(min-width:768px)"
      />

      <img
        class="many-icecream"
        src="/src/images/hero/many_icecream_desktop@1x.png"
        alt="many-icecream"
      />
    </picture>
  </div>
</section>
