<div class="menu-container js-menu-container" id="mobile-menu">
  <svg class="mobile-menu__logo" width="48px" height="44px">
    <use href="./images/icons.svg#icon-Logo"></use>
  </svg>
  <button class="menu-toggle menu-toggle__crose js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="32px"
      height="32px"
    >
      <use href="./images/icons.svg#icon-ep_close"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="#home" class="link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="#about" class="link"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="#products" class="link"
        >Our products</a
      >
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="#contacts" class="link"
        >Contact</a
      >
    </li>
  </ul>
  <div class="mobile-menu__button-div">
    <button
      type="button"
      class="mobile-menu__button"
      data-modal-buy-now-open=""
    >
      Buy now
      <svg class="button__svg" width="6px" height="10px">
        <use href="./images/icons.svg#icon-buttonsvg"></use>
      </svg>
    </button>
  </div>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
