<div class="is-hidden backdrop-buynow" data-modal-buy-now>
  <div class="modal">
    <form class="form-communication">
      <button
        type="button"
        class="modal__button-close"
        data-modal-buy-now-close
      >
        <svg class="modal__svg" width="22" height="22">
          <use href="./images/symbol-defs.svg#icon-close-mob"></use>
        </svg>
      </button>
      <p class="form-communication__title">Buy now</p>
      <ul class="modal__list-buy">
        <li class="modal__item-buy">
          <div class="box__card box__card-first">
            <picture>
              <source
                srcset="
                  ./images/cream-mob@1x.png 1x,
                  ./images/cream-mob@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/cream-desk@1x.png 1x,
                  ./images/cream-desk@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/cream-mob@1x.png"
                alt="cream-photo"
                class="box__card-img"
              />
            </picture>
            <input
              type="checkbox"
              name="consent"
              class="consent__checkbox consent__checkbox--visually-hidden"
            />
            <h2 class="box___title">ICE CREAM</h2>
          </div>
        </li>
        <li class="modal__item-buy">
          <div class="box__card box__card-second">
            <picture>
              <source
                srcset="
                  ./images/coffee-mob@1x.png 1x,
                  ./images/coffee-mob@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/coffee-desk@1x.png 1x,
                  ./images/coffee-desk@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./images/coffee-mob@1x.png"
                alt="coffee-photo"
                class="box__card-img"
              />
            </picture>
            <input
              type="checkbox"
              name="consent"
              class="consent__checkbox consent__checkbox--visually-hidden"
            />
            <h2 class="box___title">ICE COFFEE</h2>
          </div>
        </li>
        <li class="modal__item-buy">
          <div class="box__card box__card-third">
            <picture>
              <source
                srcset="
                  ./images/shake-mob@1x.png 1x,
                  ./images/shake-mob@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="./images/shake-desk@1x.png ./images/shake-desk@2x.png 2x"
                media="(min-width: 768px)"
              />
              <img
                src="./images/shake-mob@1x.png"
                alt="coffee-photo"
                class="box__card-img"
              />
            </picture>
            <input type="checkbox" name="consent" class="consent__checkbox" />
            <h2 class="box___title">MILKSHAKES</h2>
          </div>
        </li>
      </ul>
      <ul class="modal__list-form">
        <li class="modal__item">
          <label class="form-communication__field">
            <input
              type="text"
              name="name"
              autofocus
              class="form-communication__input"
              placeholder="Name"
              required
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
              title="Username must be two words separated by space."
            />
          </label>
        </li>
        <li class="modal__item">
          <label class="form-communication__field">
            <input
              type="phone"
              name="phone"
              class="form-communication__input"
              placeholder="Phone"
              required
              pattern="[0-9]{3}[-][0-9]{3}[-][0-9]{4}"
              required
              title="Please enter valid phone number"
            />
          </label>
        </li>
        <li class="modal__item">
          <label class="form-communication__field">
            <textarea
              name="comment"
              rows="2"
              class="form-communication__textarea-input"
              placeholder="Comment"
            ></textarea>
          </label>
        </li>
      </ul>
      <button type="submit" class="button form-communication__button">
        Submit
      </button>
    </form>
  </div>
</div>
