<div class="modal-sheet is-hidden" data-product-modal>
  <div class="modal-window">
    <button type="button" class="modal__button-close" data-product-modal-close>
      <svg width="24" height="24" class="icon-close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <span class="modal-window__title">Chololate icecream</span>

    <picture>
      <source
        srcset="
          ./images/modal-chocolate/icecream-desktop@1x.png 1x,
          ./images/modal-chocolate/icecream-desktop@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/modal-chocolate/icecream-mobile@1x.png 1x,
          ./images/modal-chocolate/icecream-mobile@2x.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/modal-chocolate/icecream-mobile@1x.png"
        alt="icecream"
        class="modal-window__img"
        width="132"
      />
    </picture>

    <ul class="calories-list">
      <li class="calories-list__item">
        <span class="calories-list__number">320</span
        ><span class="calories-list__desc">kcal</span>
      </li>

      <li class="calories-list__item">
        <span class="calories-list__number">4g</span
        ><span class="calories-list__desc">Prote...</span>
      </li>

      <li class="calories-list__item">
        <span class="calories-list__number">8,2g</span
        ><span class="calories-list__desc">Fats</span>
      </li>

      <li class="calories-list__item">
        <span class="calories-list__number">40,4g</span
        ><span class="calories-list__desc">Carbs</span>
      </li>
    </ul>

    <span class="ingredients-title">Ingredients</span>

    <ul class="ingredients-list">
      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient">Milk</span
        ><span class="ingredients-list__ingredient">100ml</span>
      </li>

      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient">Belgian chocolate</span
        ><span class="ingredients-list__ingredient">20g</span>
      </li>

      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient">Cream</span
        ><span class="ingredients-list__ingredient">150 ml</span>
      </li>

      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient">Cocoa powder</span
        ><span class="ingredients-list__ingredient"> 30g</span>
      </li>

      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient">Sugar</span
        ><span class="ingredients-list__ingredient">40g</span>
      </li>

      <li class="ingredients-list__item">
        <span class="ingredients-list__ingredient">Vanilla sugar</span
        ><span class="ingredients-list__ingredient">10g</span>
      </li>
    </ul>

    <form class="order-form">
      <input
        type="text"
        name="username"
        placeholder="Name"
        class="order-form__input"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
      />

      <input
        type="tel"
        name="phone-number"
        placeholder="Phone"
        class="order-form__input"
        required
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        required
        title="Format: 123-456-7890"
      />

      <textarea
        name="comment"
        placeholder="Comment"
        class="order-form__textarea"
        minlength="3"
      ></textarea>
      <button type="submit" class="modal-icecream-btn">Submit</button>
    </form>
  </div>
</div>
