<div class="response" data-slider="response-slider">
  <div class="swiper response-container mySwiper">
    <ul class="swiper-wrapper response-list">
      <li class="swiper-slide responce-list__item">
        <img
          srcset="
            ./images/response/img1_85.jpg   85w,
            ./images/response/img1_170.jpg 170w
          "
          sizes="(min-width: 320px) 85px, 100vw"
          class="response-list__img"
          src="./images/response/img1_85.jpg"
          alt="Emily, Los Angeles"
          width="85"
          height="85"
        />

        <p class="response-list__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <h3 class="response-list__name">Emily, Los Angeles</h3>
      </li>
      <li class="swiper-slide responce-list__item">
        <img
          srcset="
            ./images/response/img2_85.jpg   85w,
            ./images/response/img2_170.jpg 170w
          "
          sizes="(min-width: 320px) 85px, 100vw"
          class="response-list__img"
          src="./images/response/img2_85.jpg"
          alt="Bryan, New-York"
          width="85"
          height="85"
        />

        <p class="response-list__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <h3 class="response-list__name">Bryan, New-York</h3>
      </li>
      <li class="swiper-slide responce-list__item">
        <img
          srcset="
            ./images/response/img3_85.jpg   85w,
            ./images/response/img3_170.jpg 170w
          "
          sizes="(min-width: 320px) 85px, 100vw"
          class="response-list__img"
          src="./images/response/img3_85.jpg"
          alt="Diana, Chicago"
          width="85"
          height="85"
        />

        <p class="response-list__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <h3 class="response-list__name">Diana, Chicago</h3>
      </li>
    </ul>
    <ul class="swiper-pagination response__pagination"></ul>
  </div>
</div>
