// Modal window BUY NOW
.backdrop-buynow {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(132, 161, 120, 0.8);
    overflow-y: auto;
    z-index: 100;
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: opacity 250ms $timing-function;

    @media screen and (min-width: $tablet) {
        justify-content: center;
        align-items: center;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: relative;
    max-width: 280px;
    width: 100%;
    background-color: $light-text-color;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    padding: 29px;

    @media screen and (min-width: 768px) {
        max-width: 568px;
        padding: 32px;
    }
}

/* Modal button*/

.modal__button-close {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #FCFCFC;
    border: 1px;
    border-radius: 50%;
    top: 12px;
    right: 12px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }
}

.modal__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__list-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 40px;
        gap: 32px;
    }
}

.form-communication__title {
    height: 24px;
    margin-bottom: 79px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #131313;

    @media screen and (min-width: 768px) {
        margin-bottom: 90px;
        font-size: 20px;
        line-height: 1.4;
    }
}

//   CHECK-BOX

.consent__checkbox {
    width: 132px;
    height: 132px;
    position: absolute;
    opacity: 0;
}



.box__card {
    width: 132px;
    height: 136px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 50%;
}

.box__card-img {
    width: 132px;
    height: 132px;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);

}

.box__card-first {
    width: 132px;
    height: 139px;
    position: relative;
    border: 2px solid #96AF8C;
    border-radius: 15px;
    margin-bottom: 80px;

    //  @media screen and (max-width: 767px) {
    //          margin-bottom: 80px;
    // }
    .consent__checkbox:checked+& {
        background-color: #96AF8C;
    }
}

.box__card-first:hover,
.box__card-first:focus {
    background-color: #96AF8C;
}

.box__card-second {
    border: 2px solid #EFD478;
    border-radius: 15px;
    margin-top: 65px;

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
        margin-top: 0px;
    }

    .consent__checkbox:checked+& {
        background-color: #EFD478;
    }
}

.box__card-second:hover,
.box__card-second:focus {
    background-color: #EFD478;
}

.box__card-third {
    border: 2px solid #D6936D;
    border-radius: 15.7808px;
    margin-top: 130px;

    @media screen and (min-width:768px) {
        margin-bottom: 90px;
        margin-top: 0px;
    }

    .consent__checkbox:checked+& {
        background-color: #D6936D;
    }
}

.box__card-third:hover,
.box__card-third:focus {
    background-color: #D6936D;
}

.box___title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    padding-bottom: 20px;
    padding-top: 70%;
}

.modal__item-buy {
    position: relative;
    width: 132px;
    height: 132px;

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.modal__item-buy::before {
    display: block;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}

.modal__list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 224px;

    //  height: 32px;
    @media screen and (max-width: 767px) {
        margin-top: 150px;
    }
}

.modal__item {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}

.form-communication__input {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #131313;
    display: block;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: start;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    width: 224px;
    height: 32px;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;

    @media screen and (min-width: 768px) {
        width: 368px;
        height: 42px;
        padding-left: 16px;
        padding-bottom: 11px;
        font-size: 14px;
        line-height: 140%;
    }
}

.form-communication__input:hover,
.form-communication__input:focus {
    border: 1px solid #F8D24E;
    border-radius: 10px;
    cursor: pointer;
    fill: #F8D24E;
}

.form-communication__input [placeholder] {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 140%;
    }
}

.form-communication__input:not(:placeholder-shown):required:valid {
    border-color: green;
}

.form-communication__input:not(:placeholder-shown):required:invalid {
    border-color: red;
}

.form-communication__textarea:not(:placeholder-shown):valid {
    border-color: green;
    background-color: rgb(232, 240, 254);
}

.form-communication__textarea:not(:placeholder-shown):invalid {
    border-color: red;
}

.form-communication__textarea-input {
    resize: none;
    width: 224px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    padding-top: 8px;
    padding-left: 12px;

    @media screen and (min-width:768px) {
        width: 368px;
        height: 84px;
        font-size: 14px;
        line-height: 140%;
        padding-left: 16px;
        padding-top: 11px;
    }
}

.form-communication__button {
    display: block;
    margin: 0 auto;
    width: 114px;
    height: 42px;
    padding: 12px 34px;
    background: #F8D24E;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    color: #131313;
    margin-top: 14%;
    cursor: pointer;

    @media screen and (min-width:768px) {
        margin-top: 4%;
        font-size: 14px;
        line-height: 1.21;
    }

    &:hover,
    &:focus {
        background-color: #0A8817;
        cursor: pointer;
    }

    &:focus {
        color: #FCFCFC;
    }

    &:disabled {
        background-color: #ababab;
    }
}
